# top-most EditorConfig file
root = true

[*]
# Enforce Unix style line endings (\n only)
# This will be taken care of by .gitattributes
#end_of_line = lf
# Always end files with a blank line
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Always indent by 4 characters
indent_size = 4
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true
